<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container container_edit">
  <div class="jumbotron" style="background: #136291; color: white">
    <h1 style="color: white">Gallery</h1>


    <p>Select the Query to run.</p>
        <form action="{{url_for('local')}}" method="post">
            <button name="loadPage" value="solutions" class="btn btn-outline-light">Solutions</button>
          <button name="loadPage" value="querys" class="btn btn-outline-light">Query</button>
             <button name="loadPage" value="graph" class="btn btn-outline-light">Graph</button>
            <button name="loadPage" value="fuseki-control" class="btn btn-outline-light">Fuseki Control</button>
            <button name="loadPage" value="ontology-setup" class="btn btn-outline-light">Ontology setup</button>
            <button name="loadPage" value="gallary" class="btn btn-outline-light">Gallary</button>
      </form>


  </div>
    <div id="delete_button_div">
    <form action="{{ url_for('delete_galary_image') }}" method="post">
        <input type="text" id="imageIndex" name="imageIndex" placeholder="image number">
        <input type="submit" name="Delete Image" value="Delete Image" class="btn btn-danger">
    </form>
    </div>
    <form action="{{ url_for('upload_and_display_image') }}" method="post" enctype="multipart/form-data">
        <input type="file" id="inputImage" name="upload" onchange="this.form.submit();">
    </form>

    <table style="width:100%">
    {% set index__ =namespace(value=0) %}
        {% for i in images%}
            <br>
            <th>
                <img class="image_size_" src="{{ i }}" onclick="window.open(this.src, '_blank');"></br><a id="imageNumber"> Image {{ index__.value }}</a> </br> </br> </br>
             {% set index__.value = index__.value + 1 %}
            </th>
            </tr>

        {% endfor %}

</table>


</div>




</body>
</html>